.container-fluid {
  height: 100%;
  overflow-y: hidden;
}

button {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.divFirst, .divSecond {
  height: 20% !important;
}

.divA{
    flex-direction: column;
}

.divFortune {
    height: 100%;
}

.fortune {
    display: flex;
    flex-direction: column;
}